<table>
  <tbody>
    <tr>
      <th><%= l(:lark_bot_webhook_url) %>:</th>
      <td>
        <input type="text" id="lark_bot_webhook_url"
                           value="<%= settings['lark_bot_webhook_url'] %>"
                           name="settings[lark_bot_webhook_url]"
                           >
      </td>
    </tr>
  </tbody>
</table>

